<template name="testingTemplate">
	<h1>Список тестов</h1>
    <div class="filters">
        <ul>
            <li class="filters-drop-down filters-drop-down_closed"><div class="filters-drop-down__label">Название</div>
                <div class="filters-drop-down__content">
                    <p style="height: 150px;"></p>
                </div>
            </li>
            <li class="filters-drop-down filters-drop-down_closed"><div class="filters-drop-down__label">Категория</div>
                <div class="filters-drop-down__content">
                    <p style="height: 150px;"></p>
                </div>
            </li>
        </ul>
    </div>
    <div style="height: 450px;"></div>
</template>