<template name="testingTemplate">
	<h1>Список тестов</h1>
    <div class="filters">
        <ul>
            <li class="filters-drop-down filters-drop-down_closed"><div class="filters-drop-down__label">Название</div>
                <div class="filters-drop-down__content">
                    <p style="height: 150px;">test 1</p>
                </div>
            </li>
            <li class="filters-drop-down filters-drop-down_closed"><div class="filters-drop-down__label">Категория</div>
                <div class="filters-drop-down__content">
                    <p style="height: 150px;">test 2</p>
                </div>
            </li>
        </ul>
    </div>

    <form class="createNewTestForm">
        <input type="text" name="title" placeholder="newtestname">
        <input type="submit" class="createNewTestForm__submit" value="Create">
    </form>

    <ul>
        {{#each testItems}}
            <li>{{> testItem}}</li>
        {{/each}}
    </ul>
      
</template>

<template name="testItem">
    <li>
        <span class="testItem">{{name}}</span>
        <a href="{{pathFor route='quiz'}}">Пройти тест</a>
        <input class="deleteTestItem" type="button" value="delete"><br>
        <ul>
            {{#each questions}}
                <li>
                {{this.index}}
                    <ul>
                        {{#each this.variants}}
                            <li>
                                <label>
                                {{#if this.answer}}
                                    <input type="{{../type}}" name="{{../index}}" value="{{this.value}}" checked>
                                {{else}}
                                    <input type="{{../type}}" name="{{../index}}" value="{{this.value}}">
                                {{/if}}
                                    {{this.value}}
                                </label>
                            </li>
                        {{/each}}
                    </ul> 
                </li>
            {{/each}}
        </ul>
    </li>
</template>