<template name="main">
    <h1>Online Quiz Maker</h1>
    <p class="main-text">Данный Quiz Maker преднозначен для проведения онлайн-тестирования. Он является лучшим инструментом данного типа для учителей и предприятий. Используется как для тестирования бизнеса, так и для обучения. Подбор и предварительная оценка времени для теста; Школьные викторины и опросы; Учебные заведения, школы, университеты, дистанционное обучение, онлайн-курсы, электронное обучение, группы самообучения, практика и многое другое.</p>
</template>
